<div data-ng-controller="AboutController">

    <div class="page-header text-center"><h1>About</h1></div>
    <div class="col-sm-12 col-md-6">
        <h4>The Client side of the App is build using:</h4>
        <ul>
            <li>AngularJS</li>
            <li>Bootstrap</li>
            <li>Angular file upload</li>
            <li>GoogleAPI</li>
            <li>And more...</li>
        </ul>
        <h4>The Server side of the App is build using:</h4>
        <ul>
            <li>nodeJS</li>
            <li>Express</li>
            <li>Mongoose</li>
            <li>Multer</li>
            <li>The DB is NoSQL DB - MongoDB</li>
            <li>And more...</li>
        </ul>
    </div>
    <div class="col-sm-12 col-md-6">
        <h4>Developing Team</h4>
        <ul>
            <li>Eddie Zeltser</li>
            <li>Andrew Palkin</li>
        </ul>
    </div>
</div>