<div id="imageUploadTab" class="tab-pane fade">
    <div class="col-sm-12">
        <div class="col-sm-6">
            <div class="form-group">
                <button type="file" ngf-select ngf-resize="{width: 100, height: 100}" data-ng-model="placePhoto" class="btn btn-primary" file-model="placePhoto" accept="image/*">Select Place Image
                </button>
                <span data-ng-show="sitePhoto.name">Selected:</span>{{sitePhoto.name}}
                <br><br>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <img ngf-src="placePhoto" class="previewImg">
            </div>
        </div>
    </div>
</div>